*{
    margin: 0px;
    padding: 0px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner.png); 
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav{
    display:flex; 
    padding: 2% 6%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 150px;
    
}
.nav-link{
    flex: 1;
    text-align: left;
}
.nav-link ul li{
    list-style: none;
    display: contents;
    padding: 8px 12px;
    position: relative;
    color: rgb(47, 51, 35);
}
.nav-link ul li a{
    color:rgb(218, 218, 6);
    text-decoration:none;
    font-size: 13px;
}
#main{
    color: rgb(75, 3, 3);
    font-size: 20px;
}
.text-box{
    color: rgb(189, 131, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    text-align: left;
    display: block;
}
.hero-btn{
    display: inline-block;
    text-decoration:none ;
    color: rgb(4, 44, 80);
    border: 1px solid;
    padding: 12px 34px;
    background:transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn.hoover{
    border: 1px solid rgb(247, 154, 154);
    background: rgb(0, 0, 0);
    transition: 1s;
}